node_modules/
out/
dist/
.vscode-test/
legacy/vscode-extension/*.vsix
.vasmc/
vasmc-build-state.yaml
.markdown-formal/*
!.markdown-formal/
!.markdown-formal/config.json
!.markdown-formal/definitions.json
!.markdown-formal/symbols.json
.DS_Store
